@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu

<h1>Menu</h1>

<div class="row">
    <div class="menu-container">
        <h2>Combos</h2>
        <div class="menu-item-container">
            @if (Model.Menu.AvailableCombos.Count > 0)
            {
                @foreach (CretaceousCombo c in Model.Menu.AvailableCombos)
                {
                    <div class="menu-item">
                        <h3>@c.Description</h3>
                        <h4>@c.Side</h4>
                        <h4>@c.Drink</h4>
                        <p>
                            Price: $@c.Price.ToString("0.00")
                        </p>
                        <p>
                            Calories: @c.Calories
                        </p>
                        <h4>Ingredients</h4>
                        <ul>
                            @foreach (string i in c.Ingredients)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                }
            }
            else
            {
                <p>None found</p>
            }
        </div>

        <h2>Entrees</h2>
        <div class="menu-item-container">
            @if (Model.Menu.AvalibleEntrees.Count > 0)
            {
                @foreach (Entree e in Model.Menu.AvalibleEntrees)
                {
                    <div class="menu-item">
                        <h3>@e.Description</h3>
                        <p>
                            Price: $@e.Price.ToString("0.00")
                        </p>
                        <p>
                            Calories: @e.Calories
                        </p>
                        <h4>Ingredients</h4>
                        <ul>
                            @foreach (string i in e.Ingredients)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                }
            }
            else
            {
                <p>None found</p>
            }
        </div>

        <h2>Sides</h2>
        <div class="menu-item-container">
            @if (Model.Menu.AvailableSides.Count > 0)
            {
                @foreach (Side s in Model.Menu.AvailableSides)
                {
                    <div class="menu-item">
                        <h3>@s.Description</h3>
                        <p>
                            Price: $@s.Price.ToString("0.00")
                        </p>
                        <p>
                            Calories: @s.Calories
                        </p>
                        <h4>Ingredients</h4>
                        <ul>
                            @foreach (string i in s.Ingredients)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                }
            }
            else
            {
                <p>None found</p>
            }
        </div>

        <h2>Drinks</h2>
        <div class="menu-item-container">
            @if (Model.Menu.AvailableDrinks.Count > 0)
            {
                @foreach (Drink d in Model.Menu.AvailableDrinks)
                {
                    <div class="menu-item">
                        <h3>@d.Description</h3>
                        <p>
                            Price: $@d.Price.ToString("0.00")
                        </p>
                        <p>
                            Calories: @d.Calories
                        </p>
                        <h4>Ingredients</h4>
                        <ul>
                            @foreach (string i in d.Ingredients)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                }
            }
            else
            {
                <p>None found</p>
            }
        </div>
    </div>
    <form method="post">
        <input type="text" name="search" id="search" value="@Model.Search" />
        <input type="submit" value="Search and Filter" />

        <h2>Menu Category</h2>
        <label>
            <input type="checkbox" value="Combo" name="menuCategory" class="menu-category" checked="@Model.MenuCategory.Contains("Combo")" />
            Combo
        </label>
        <label>
            <input type="checkbox" value="Entree" name="menuCategory" class="menu-category" checked="@Model.MenuCategory.Contains("Entree")" />
            Entree
        </label>
        <label>
            <input type="checkbox" value="Side" name="menuCategory" class="menu-category" checked="@Model.MenuCategory.Contains("Side")" />
            Side
        </label>
        <label>
            <input type="checkbox" value="Drink" name="menuCategory" class="menu-category" checked="@Model.MenuCategory.Contains("Drink")" />
            Drink
        </label>

        <h2>Price</h2>
        <div class="row">
            <label>
                Min
                <input type="number" id="minimum-price" name="minimumPrice" min="0" step="0.1" value="@Model.MinimumPrice"/>
            </label>
            <label>
                Max
                <input type="number" id="maximum-price" name="maximumPrice" min="0" step="0.1" value="@Model.MaximumPrice"/>
            </label>
        </div>

        <h2>Excluding Ingredients</h2>
        @foreach (string ingredient in new Menu().PossibleIngredients)
        {
            <label>
                <input type="checkbox" class="exclude-ingredient" name="excludedIngredients" value="@ingredient" checked="@Model.ExcludedIngredients.Contains(ingredient)" />
                @ingredient
            </label>
        }
    </form>
</div>
